<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/favicons/favicon.ico"
            type="image/x-icon">
        <title>Palbox Manager</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="signin-layout">
            <form method="POST" class="pure-form pure-form-stacked signin-form">
                <fieldset>
                    <input type="password" name="password"
                        id="password-input" placeholder="Password"
                        class="signin">
                    <button type="submit"
                        class="pure-button pure-button-primary signin">
                        Sign In
                    </button>
                </fieldset>
            </form>
        </div>
    </body>
</html>